@charset "UTF-8";
:root {
    /* -- Background Colors -- */
    --clr-bg-sedan: hsl(31,77%,52%);
    --clr-bg-suv: hsl(184, 100%, 22%);
    --clr-bg-luxury: hsl(179, 100%, 13%);
    
    /* -- Text Colors --*/
    --clr-text-p: hsla(0, 0%, 100%, 0.75);
    --clr-text-h: hsl(0, 0%, 95%);

    /* -- Font Family -- */
    --ff-headings: 'Big Shoulders Display';
    --ff-paragraphs: 'Lexend Deca';
    
    --bdr-rad-container: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/***** Global Styles *****/
html {
    font-size: 15px;
}

.container {
    border-radius: 30px;
}

.third {
    padding: 12%;
}

h1 {
    font-family: var(--ff-headings);
    color: var(--clr-text-h);
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 30px 0;
}

p {
    font-family: var(--ff-paragraphs);
    color: var(--clr-text-p);
    line-height: 2em;
    margin-bottom: 30px;
    letter-spacing: 1px;
    max-width: 265px;
}

button {
    padding: 10px 30px;
    border-radius: 25px;
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;
}


/**** Section Styles ****/
#sedan {
    background-color: var(--clr-bg-sedan);
    border-start-start-radius: var(--bdr-rad-container);
    border-start-end-radius: var(--bdr-rad-container);
}

#sedan button {
    color: var(--clr-bg-sedan);
    border: 2px solid var(--clr-bg-sedan);
}

#sedan button:hover {
    background-color: var(--clr-bg-sedan);
    color: var(--clr-text-h);
    border: 2px solid var(--clr-text-h);
}

#suv {
    background-color: var(--clr-bg-suv);
}

#suv button {
    color: var(--clr-bg-suv);
    border: 2px solid var(--clr-bg-suv);
}

#suv button:hover {
    background-color: var(--clr-bg-suv);
    color: var(--clr-text-h);
    border: 2px solid var(--clr-text-h);
}

#luxury {
    background-color: var(--clr-bg-luxury);
    border-end-start-radius: var(--bdr-rad-container);
    border-end-end-radius: var(--bdr-rad-container);
}

#luxury button {
    color: var(--clr-bg-luxury);
    border: 2px solid var(--clr-bg-luxury);
}


#luxury button:hover {
    background-color: var(--clr-bg-luxury);
    color: var(--clr-text-h);
    border: 2px solid var(--clr-text-h);
}

.attribution {
    display: flex;
    justify-content: center;
}

@media (min-width: 1440px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .third {
        padding: 4%;
    }

    p {
        margin: 30px 0 100px 0;
        max-width: 250px;
    }

    #sedan {
        border-end-start-radius: var(--bdr-rad-container);
        border-start-end-radius: 0;
    }

    #luxury {
        border-start-end-radius: var(--bdr-rad-container);
        border-end-start-radius: 0;
    }
}